<% layout("boilerplate") -%>

<h1>Shop Smart , Save Big</h1>

<p>Starting point to create some thing more unique</p>


<p>Signup to start buying</p>


<h3>Start you searh here</h3>



<p>Our prices are some of the best on the web</p>
 
<h3>Start you searh here</h3>

<p>Our prices are some of the best on the web</p>